fastapi==0.118.3
python-multipart==0.0.20
uvicorn[standard]==0.37.0
huggingface_hub<1.0
matplotlib==3.10.8
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchaudio==2.3.1+cpu
pyannote.audio==3.3.2
